{{define "kill-title"}}
  {{if .IsSolo}}
    {{if .IsLoss}}
      {{.Killmail.Victim.Character.Name}} can't do solo PvP and lost their {{.Killmail.Victim.ShipType.Name}}...
    {{else}}
      {{range $attacker := index .Killmail.Attackers}} {{$attacker.Character.Name}} {{end}} destroyed {{.Killmail.Victim.Character.Name}}'s {{.Killmail.Victim.ShipType.Name}} all by themselves!
    {{end}}
  {{else}}
    {{if .Killmail.Victim.Character.Name}}
      {{.Killmail.Victim.Character.Name}} lost a {{.Killmail.Victim.ShipType.Name}}
    {{else}}
      {{.Killmail.Victim.Corporation.Name}} lost a {{.Killmail.Victim.ShipType.Name}}
    {{end}}
  {{end}}
{{end}}

{{define "kill-body"}}
*Victim*: <https://zkillboard.com/character/{{.Killmail.Victim.Character.ID}}|{{.Killmail.Victim.Character.Name}}> (<https://zkillboard.com/corporation/{{.Killmail.Victim.Corporation.ID}}|{{.Killmail.Victim.Corporation.Name}}>)
*Damage Taken:* {{.Killmail.Victim.DamageTaken}}
*Total Value:* {{.TotalValue}} ISK
{{if .IsSolo}}*Attacker:* {{range $attacker := .Killmail.Attackers}}{{if $attacker.Character.Name}}<https://zkillboard.com/character/{{$attacker.Character.ID}}|{{$attacker.Character.Name}}> (<https://zkillboard.com/corporation/{{$attacker.Corporation.ID}}|{{$attacker.Corporation.Name}}>){{else}}{{$attacker.ShipType.Name}}({{$attacker.Corporation.Name}}){{end}}{{end}}{{else}}
*Attackers({{len .Killmail.Attackers}}):* {{range $index, $attacker := .Killmail.Attackers}}{{if $attacker.Character.Name}}<https://zkillboard.com/character/{{$attacker.Character.ID}}|{{$attacker.Character.Name}}> (<https://zkillboard.com/corporation/{{$attacker.Corporation.ID}}|{{$attacker.Corporation.Name}}>){{else}}{{$attacker.ShipType.Name}}{{if $attacker.Corporation.Name}} (<https://zkillboard.com/corporation/{{$attacker.Corporation.ID}}|{{$attacker.Corporation.Name}}>){{end}}{{end}}, {{end}}
{{end}}
{{end}}
