{{define "killtitle"}}
  {{if .IsSolo}}
    {{if .IsLoss}}
      {{.Killmail.Victim.Character.Name}} can't do solo PvP and lost their {{.Killmail.Victim.ShipType.Name}}...
    {{else}}
      {{range $attacker := index .Killmail.Attackers}} {{$attacker.Character.Name}} {{end}} destroyed {{.Killmail.Victim.Character.Name}}'s {{.Killmail.Victim.ShipType.Name}} all by themselves!
    {{end}}
  {{else}}
    {{.Killmail.Victim.Character.Name}} lost a {{.Killmail.Victim.ShipType.Name}}
  {{end}}
{{end}}

{{define "killbody"}}
*_TOTAL VALUE:_ {{.TotalValue}} ISK*
*_NUMBER INVOLVED:_ {{len .Killmail.Attackers}}*
{{end}}
