{{define "killtitle"}}
  {{if .IsSolo}}
    {{if .IsLoss}}
      {{.Killmail.Victim.Character.Name}} can't do solo PvP and lost their {{.Killmail.Victim.ShipType.Name}}...
    {{else}}
      {{range $attacker := index .Killmail.Attackers}} {{$attacker.Character.Name}} {{end}} destroyed {{.Killmail.Victim.Character.Name}}'s {{.Killmail.Victim.ShipType.Name}} all by themselves!
    {{end}}
  {{else}}
    {{if .Killmail.Victim.Character.Name}}
      {{.Killmail.Victim.Character.Name}} lost a {{.Killmail.Victim.ShipType.Name}}
    {{else}}
      {{.Killmail.Victim.Corporation.Name}} lost a {{.Killmail.Victim.ShipType.Name}}
    {{end}}
  {{end}}
{{end}}

{{define "killbody"}}
*Total Value:* {{.TotalValue}} ISK
{{if .IsSolo}}
*Pilots Involved ({{len .Killmail.Attackers}}):* {{range $attacker := index .FinalBlowPilot}}{{$attacker}}{{end}}^
*Corporations Involved ({{len .TotalCorp}}):* {{range $corp := index .FinalBlowCorp}}{{$corp}}{{end}}^, {{.LosingCorp}}
{{if .InAlli}}*Alliances Involved ({{len .TotalAlli}}):* {{range $alli := index .FinalBlowAlli}}{{$alli}}{{end}}^, {{.LosingAlli}}
{{end}}
{{else}}
*Pilots Involved ({{len .Killmail.Attackers}}):* {{range $attacker := index .FinalBlowPilot}}{{$attacker}}{{end}}^{{range $attacker := index .PilotInvolved}}, {{$attacker}}{{end}}
*Corporations Involved ({{len .TotalCorp}}):* {{range $corp := index .FinalBlowCorp}}{{$corp}}{{end}}^, {{.LosingCorp}}(*V*){{range $corp := index .CorpsInvolved}}, {{$corp}}{{end}}
{{if .InAlli}}*Alliances Involved ({{len .TotalAlli}}):* {{range $alli := index .FinalBlowAlli}}{{$alli}}{{end}}^, {{.LosingAlli}}(*V*){{range $alli := index .AlliInvolved}}, {{$alli}}{{end}}
{{end}}
{{end}}
^ Final Blow
{{end}}
